* {
	margin: 0px; padding: 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
ul {
	list-style: none;
}
ol {
	list-style: none;
}
a img {
	border: 0px currentColor; border-image: none;
}
.nav::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.page-title::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.title::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.panel-heading::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.row::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.clearfix::after {
	height: 0px; clear: both; display: block; visibility: hidden; content: ".";
}
.nav .clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.nav {
	display: block;
}
.clearfix {
	display: block;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
html {
	height: 100%;
}
body {
	height: 100%;
}
.h100 {
	height: 100%;
}
body {
	background: rgb(231, 239, 244); color: rgb(57, 71, 75); font-family: "Lantinghei SC", "Open Sans","Lucida Grande",Helvetica, STheiti, Verdana, "microsoft yahei", "simsun", Geneva, sans-serif; font-size: 12px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a.btn:hover {
	text-decoration: none;
}
.nav a:hover {
	text-decoration: none;
}
*::before {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
*::after {
	box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.header {
	background: url("../images/header-bg.png") repeat-x 0px 0px rgb(23, 25, 26); left: 0px; top: 0px; width: 100%; height: 51px; position: fixed; z-index: 2; box-shadow: 0px 1px 2px rgba(0,0,0,0.35);
}
.logo-bg {
	background: url("../images/logo-bg.png") no-repeat 0px 0px;
}
.logo {
	margin: 10px 0px 0px 18px; float: left; position: relative;
}
.logo span {
	left: 75px; top: 12px; width: 80px; color: rgb(255, 168, 0); position: absolute;
}
.top-menu {
	left: 210px; position: absolute;
}
.top-menu li {
	float: left;
}
.top-menu a {
	background: url("../images/top-menu-hover.png") repeat-x 0px 0px; padding: 0px 12px; height: 50px; text-align: center; color: rgb(165, 188, 194); display: block;
}
.top-menu a i {
	margin: 7px auto 5px; font-size: 18px;
}
.top-menu a span {
	display: block;
}
.top-menu a:hover {
	background-position: 0px -50px; color: rgb(49, 193, 147);
}
.top-menu li.active a {
	background-position: 0px -50px; color: rgb(49, 193, 147);
}
.top-user {
	height: 51px; float: right; position: relative;
}
.top-user .drop-menu {
	border-top-color: currentColor; border-top-width: 0px; border-top-style: none; display: none;
}
.top-user:hover .drop-menu {
	display: block;
}
.top-user-thumb {
	width: 70px; height: 50px; text-align: center; color: rgb(165, 188, 194); line-height: 50px; padding-left: 20px; font-size: 20px; display: block;
}
.top-user-thumb:hover {
	color: rgb(49, 193, 147);
}
.top-user-thumb img {
	margin: 12px 10px 0px 5px; border-radius: 50%; float: right;
}
.top-user .drop-menu {
	top: 51px; right: 7px;
}
.drop-menu {
	background: rgb(245, 249, 250); border-radius: 0px 0px 3px 3px; border: 1px solid rgb(120, 156, 160); border-image: none; position: absolute; min-width: 140px; box-shadow: 2px 3px 0px rgba(0,0,0,0.12);
}
.drop-menu li a {
	padding: 8px 10px 8px 30px; color: rgb(57, 70, 74); border-bottom-color: rgb(216, 227, 230); border-bottom-width: 1px; border-bottom-style: solid; display: block; position: relative;
}
.drop-menu li a i {
	left: 10px; top: 9px; color: rgb(106, 125, 128); position: absolute;
}
.drop-menu li a:hover {
	background: rgb(216, 227, 230);
}
.drop-menu li a:last-child {
	border-radius: 0px 0px 3px 3px;
}
.drop-menu .tips {
	background: rgb(216, 227, 230); margin: -2px 0px 0px; padding: 2px 5px; border-radius: 3px; float: right;
}
.main {
	height: 100%;
}
.side-content {
	height: 100%; overflow: auto; position: relative;
}
.side {
	width: 200px; position: relative;
}
.side > .scrollable {
	width: 200px; position: relative;
}
.side-xs {
	width: 120px;
}
.side-xs > .scrollable {
	width: 120px;
}
.side {
	padding: 0px !important; vertical-align: top;
}
.side-auto {
	padding: 0px !important; vertical-align: top;
}
.scrollable {
	-ms-overflow-x: hidden; -ms-overflow-y: auto;
}
.right-side {
	height: 100%;
}
.right-side > div {
	height: 100%;
}
.hide-side .right-side {
	margin-left: 0px;
}
.top-header {
	background: rgb(203, 217, 221); padding: 8px; border-bottom-color: rgb(153, 163, 166); border-bottom-width: 1px; border-bottom-style: solid; position: relative; box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
}
.hide-side .left-side {
	width: 0px;
}
.hide-side .side-content {
	width: 0px;
}
.hide-side .left-side .side-content {
	left: -180px;
}
.hide-side .left-side .side-content {
	-ms-overflow-x: hidden;
}
.expand {
	left: 150px; top: 17px; color: rgb(165, 188, 194); font-size: 18px !important; position: absolute; z-index: 100; cursor: pointer;
}
.expand:hover {
	color: rgb(49, 193, 147);
}
.expand:active {
	color: rgb(49, 193, 147);
}
.hide-side .expand {
	transform: rotate(90deg);
}
.left-side {
	background: rgb(42, 57, 60); left: 0px; top: 50px; width: 180px; position: fixed;
}
.left-nav > li > a {
	padding: 0px 12px; height: 36px; color: rgb(49, 193, 147); line-height: 36px; font-size: 14px; display: block; text-shadow: 0px 1px 0px #293334;
}
.left-nav > li > a:hover {
	border-top-color: rgb(83, 99, 103);
}
.left-nav > li:target > a {
	border-color: rgb(255, 113, 65); color: rgb(255, 113, 65);
}
.left-nav > li > a > i {
	margin: 0px 8px 0px 4px; width: 16px;
}
.left-nav ul {
	margin: 0px 0px 10px; padding: 5px;
}
.left-nav ul li a {
	padding: 8px 10px 8px 17px; border-radius: 3px; color: rgb(180, 200, 206); margin-bottom: 4px; display: block;
}
.left-nav ul li a i {
	margin-right: 14px;
}
.left-nav ul li a:hover {
	background: rgb(52, 64, 66);
}
.left-nav li li.cur a {
	background: rgb(180, 200, 206); color: rgb(42, 57, 59);
}
.left-nav ul li.active a {
	background: rgb(180, 200, 206); color: rgb(42, 57, 60);
}
.top-tab {
	background: rgb(203, 217, 221); height: 36px; border-bottom-color: rgb(153, 163, 166); border-bottom-width: 1px; border-bottom-style: solid; position: relative; box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}
.top-tab ul {
	border-right-color: rgb(165, 175, 177); border-right-width: 1px; border-right-style: solid; float: left;
}
.top-tab li {
	float: left;
}
.top-tab li a {
	padding: 0px 15px; height: 36px; color: rgb(57, 70, 74); line-height: 38px; border-right-color: rgb(236, 250, 253); border-left-color: rgb(165, 175, 177); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; display: block; position: relative;
}
.top-tab li a:hover {
	background: rgb(194, 207, 211); border-right-color: rgb(206, 217, 220);
}
.top-tab li.active a {
	background: rgb(245, 249, 250); color: rgb(7, 119, 105); font-weight: bold; border-right-color: currentColor; border-bottom-color: rgb(7, 119, 105); border-right-width: 0px; border-bottom-width: 1px; border-right-style: none; border-bottom-style: solid; box-shadow: inset 0px -2px 0px #077769;
}
.nav > li {
	position: relative;
}
.nav > li > a {
	padding: 5px 10px; display: block; position: relative;
}
.nav > li > a:hover {
	text-decoration: none; background-color: rgb(233, 238, 240);
}
.nav > li > a:focus {
	text-decoration: none; background-color: rgb(233, 238, 240);
}
.nav-multi li a:hover {
	text-decoration: none; background-color: rgb(233, 238, 240);
}
.nav-multi li a:focus {
	text-decoration: none; background-color: rgb(233, 238, 240);
}
.nav li.active > a {
	background: rgb(55, 127, 147); color: rgb(255, 255, 255);
}
.nav li.active .nav-multi-expland {
	color: rgb(255, 255, 255);
}
.nav-text {
	padding: 5px 0px; display: inline-block;
}
.caret {
	width: 0px; height: 0px; margin-left: 2px; vertical-align: middle; border-top-color: currentColor; border-right-color: transparent; border-left-color: transparent; border-top-width: 4px; border-right-width: 4px; border-left-width: 4px; border-top-style: solid; border-right-style: solid; border-left-style: solid; display: inline-block;
}
.side-nav-header {
	padding: 10px 0px; text-align: center; color: rgb(235, 247, 250); border-bottom-color: rgb(78, 102, 107); border-bottom-width: 1px; border-bottom-style: solid;
}
.side-nav-list li {
	position: relative;
}
.side-nav-list li ul {
	float: left; position: relative;
}
.side-nav-list li a {
	padding: 10px 20px 10px 15px; color: rgb(233, 245, 247);
}
.side-nav-list > li > a:hover {
	background-color: rgb(95, 119, 125);
}
.side-nav-list > li.active > a {
	background-color: rgb(66, 94, 100);
}
.side-nav-list ul li a {
	color: rgb(42, 57, 60); background-color: rgb(190, 208, 213);
}
.side-nav-list ul li a:hover {
	background-color: rgb(180, 200, 206);
}
.side-nav-list li .nav-back {
	border: 0px currentColor; border-image: none; top: 9px; right: 6px; color: rgb(66, 94, 100); position: absolute; z-index: 2; background-color: rgb(190, 208, 213);
}
.side-nav-list li .nav-back:hover {
	background-color: rgb(221, 234, 238);
}
.side-nav-list li a .fa-angle-right {
	top: 50%; width: 15px; height: 13px; right: 0px; margin-top: -6px; position: absolute;
}
.side-nav-list .square-check {
	margin-top: -2px;
}
.side-nav-list ul li.active > a {
	color: rgb(7, 119, 105); border-left-color: rgb(7, 119, 105); border-left-width: 3px; border-left-style: solid; background-color: rgb(221, 234, 238);
}
.side-nav-list ul li.active > a:hover {
	color: rgb(7, 119, 105); border-left-color: rgb(7, 119, 105); border-left-width: 3px; border-left-style: solid; background-color: rgb(221, 234, 238);
}
.nav-tabs {
	border-bottom-color: rgb(221, 221, 221); border-bottom-width: 1px; border-bottom-style: solid;
}
.nav-tabs > li {
	margin-bottom: -1px; float: left;
}
.nav-tabs > li > a {
	padding: 6px 12px; border-radius: 4px 4px 0px 0px; border: 1px solid transparent; border-image: none; line-height: 1.4285; margin-right: 2px;
}
.nav-tabs > li > a:hover {
	border-color: rgb(238, 238, 238) rgb(238, 238, 238) rgb(221, 221, 221);
}
.nav-tabs > li.active > a {
	border-width: 1px; border-style: solid; border-color: rgb(55, 127, 147) rgb(55, 127, 147) transparent; border-image: none; color: rgb(255, 255, 255); cursor: default; background-color: rgb(55, 127, 147);
}
.nav-tabs > li.active > a:hover {
	border-width: 1px; border-style: solid; border-color: rgb(55, 127, 147) rgb(55, 127, 147) transparent; border-image: none; color: rgb(255, 255, 255); cursor: default; background-color: rgb(55, 127, 147);
}
.nav-tabs > li.active > a:focus {
	border-width: 1px; border-style: solid; border-color: rgb(55, 127, 147) rgb(55, 127, 147) transparent; border-image: none; color: rgb(255, 255, 255); cursor: default; background-color: rgb(55, 127, 147);
}
.nav-tabs.nav-justified {
	width: 100%; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.nav-tabs.nav-justified > li {
	float: none;
}
.nav-tabs.nav-justified > li > a {
	text-align: center; margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
	left: auto; top: auto;
}
.nav-tabs .btn.pull-right {
	margin-top: -5px;
}
.tab-content > .tab-pane {
	display: none;
}
.tab-content > .active {
	display: block;
}
.nav-pills > li {
	float: left;
}
.nav-pills > li + li {
	margin-left: 2px;
}
.nav-pills > li.active > a {
	border-radius: 4px; color: rgb(255, 255, 255); background-color: rgb(55, 127, 147);
}
.nav-pills > li.active > a:hover {
	border-radius: 4px; color: rgb(255, 255, 255); background-color: rgb(55, 127, 147);
}
.nav-multi li {
	position: relative;
}
.nav-multi li a {
	padding: 3px 8px; display: block; position: relative;
}
.nav-multi-expland {
	top: 1px; right: 5px; font-size: 18px; position: absolute; z-index: 2;
}
.nav-multi ul {
	margin: 0px 0px 0px 18px;
}
.dropdown-menu {
	list-style: none; margin: 2px 0px 0px; padding: 5px 0px; border-radius: 4px; border: 1px solid rgba(0, 0, 0, 0.15); border-image: none; left: 0px; top: 100%; text-align: left; font-size: 14px; float: left; display: none; position: absolute; z-index: 1000; min-width: 160px; box-shadow: 0px 6px 12px rgba(0,0,0,0.175); background-clip: padding-box; background-color: rgb(255, 255, 255); -webkit-background-clip: padding-box;
}
.dropdown-menu > li > a {
	padding: 3px 20px; color: rgb(51, 51, 51); line-height: 1.4285; clear: both; font-weight: 400; display: block; white-space: nowrap;
}
.dropdown-menu > li > a:hover {
	color: rgb(38, 38, 38); text-decoration: none; background-color: rgb(245, 245, 245);
}
.dropdown-menu > li > a:focus {
	color: rgb(38, 38, 38); text-decoration: none; background-color: rgb(245, 245, 245);
}
.dropdown-menu .divider {
	margin: 9px 0px; height: 1px; overflow: hidden; background-color: rgb(229, 229, 229);
}
.open > .dropdown-menu {
	display: block;
}
.content {
	padding: 8px 8px 90px;
}
.wrap {
	padding: 10px;
}
div.info {
	background: rgb(216, 227, 230); padding: 10px; border-radius: 5px; margin-top: 5px; margin-bottom: 10px;
}
.panel {
	background: rgb(255, 255, 255); padding: 1px; border-radius: 8px; border: 0px solid rgb(197, 210, 219); border-image: none; margin-bottom: 10px; box-shadow: 0px 1px 2px rgba(31,35,37,0.08);
}
.panel.panel-primary {
	border-color: rgb(180, 214, 232);
}
.panel.panel-warning {
	border-color: rgb(216, 207, 186);
}
.panel.panel-danger {
	border-color: rgb(229, 207, 207);
}
.panel-heading {
	padding: 8px; border-radius: 4px 4px 0px 0px; border-bottom-color: rgb(231, 239, 244); border-bottom-width: 1px; border-bottom-style: solid;
}
.panel-heading .btn-sm.pull-right {
	margin-top: -3px;
}
.panel-heading h3 {
	float: left;
}
.panel-heading > .fa {
	margin-right: 4px;
}
.panel-body {
	padding: 10px;
}
.panel-default .panel-heading {
	background: rgb(237, 241, 242); border-color: rgb(215, 218, 219);
}
.panel-primary .panel-heading {
	background: rgb(204, 229, 243); border-color: rgb(169, 190, 201);
}
.panel-success .panel-heading {
	background: rgb(207, 225, 229); border-color: rgb(181, 198, 201);
}
.panel-warning .panel-heading {
	background: rgb(230, 223, 207); border-color: rgb(201, 195, 181);
}
.panel-danger .panel-heading {
	background: rgb(214, 199, 199); border-color: rgb(191, 178, 178);
}
.panel-default > .table th {
	
}
.panel-primary > .table th {
	background-color: rgb(226, 235, 240);
}
.panel-success > .table th {
	background-color: rgb(225, 237, 240);
}
.panel-warning > .table th {
	background-color: rgb(240, 235, 225);
}
.panel-danger > .table th {
	background-color: rgb(240, 225, 225);
}
.panel-heading a.active {
	font-weight: bold; text-decoration: underline;
}
.panel-success-full {
	background-color: rgb(216, 227, 230);
}
.panel-success-full .page-title {
	border-color: rgb(180, 196, 201);
}
.panel-success-full .panel-heading {
	border-color: rgb(180, 196, 201);
}
.panel-success-full hr {
	border-color: rgb(180, 196, 201);
}
table {
	border-collapse: collapse; border-spacing: 0;
}
th {
	text-align: left;
}
.table {
	width: 100%;
}
.table tr > th {
	background: rgb(243, 243, 243); font-weight: bold; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.table th {
	padding: 5px;
}
.table td {
	padding: 5px;
}
.table-border > tr > td {
	border-bottom-color: rgb(243, 243, 243); border-bottom-width: 1px; border-bottom-style: solid;
}
.table-border > tbody > tr > td {
	border-bottom-color: rgb(243, 243, 243); border-bottom-width: 1px; border-bottom-style: solid;
}
.table-border > tr:hover > td {
	background-color: rgb(245, 244, 228);
}
.table-border > tbody > tr:hover > td {
	background-color: rgb(245, 244, 228);
}
.table-border tr.bg-none:hover > td {
	background-color: transparent;
}
.table-border tr.bg-n:hover > td {
	background-color: transparent;
}
.table-border tr.active td {
	background-color: rgb(99, 137, 147);
}
.table tr.active td {
	color: rgb(255, 255, 255) !important; background-color: rgb(99, 137, 147) !important;
}
.table > tbody > tr.active > td {
	color: rgb(255, 255, 255) !important; background-color: rgb(99, 137, 147) !important;
}
.table td.active {
	color: rgb(255, 255, 255) !important; background-color: rgb(99, 137, 147) !important;
}
.table > tr.active:hover > td {
	color: rgb(255, 255, 255) !important; background-color: rgb(99, 137, 147) !important;
}
.table > tbody > tr.active:hover > td {
	color: rgb(255, 255, 255) !important; background-color: rgb(99, 137, 147) !important;
}
.table tr.active td a {
	color: rgb(255, 255, 255);
}
.table > tbody > tr.active > td {
	color: rgb(255, 255, 255);
}
.table td.active a {
	color: rgb(255, 255, 255);
}
.table tr.success td {
	border-color: rgb(223, 240, 216); background-color: rgb(223, 240, 216);
}
.table > tbody > tr.success > td {
	border-color: rgb(223, 240, 216); background-color: rgb(223, 240, 216);
}
.table td.success {
	border-color: rgb(223, 240, 216); background-color: rgb(223, 240, 216);
}
.table > tr.success:hover > td {
	border-color: rgb(223, 240, 216); background-color: rgb(223, 240, 216);
}
.table > tbody > tr.success:hover > td {
	border-color: rgb(223, 240, 216); background-color: rgb(223, 240, 216);
}
.table > tr.info > td {
	border-color: rgb(218, 235, 237); background-color: rgb(218, 235, 237);
}
.table > tbody > tr.info > td {
	border-color: rgb(218, 235, 237); background-color: rgb(218, 235, 237);
}
.table td.info {
	border-color: rgb(218, 235, 237); background-color: rgb(218, 235, 237);
}
.table > tr.info:hover > td {
	border-color: rgb(218, 235, 237); background-color: rgb(218, 235, 237);
}
.table > tbody > tr.info:hover > td {
	border-color: rgb(218, 235, 237); background-color: rgb(218, 235, 237);
}
.table > tr.warning > td {
	border-color: rgb(252, 248, 227); background-color: rgb(252, 248, 227);
}
.table > tbody > tr.warning > td {
	border-color: rgb(252, 248, 227); background-color: rgb(252, 248, 227);
}
.table td.warning {
	border-color: rgb(252, 248, 227); background-color: rgb(252, 248, 227);
}
.table > tr.warning:hover > td {
	border-color: rgb(252, 248, 227); background-color: rgb(252, 248, 227);
}
.table > tbody > tr.warning:hover > td {
	border-color: rgb(252, 248, 227); background-color: rgb(252, 248, 227);
}
.table > tr.danger td {
	border-color: rgb(242, 222, 222); background-color: rgb(242, 222, 222);
}
.table > tbody > tr.danger > td {
	border-color: rgb(242, 222, 222); background-color: rgb(242, 222, 222);
}
.table td.danger {
	border-color: rgb(242, 222, 222); background-color: rgb(242, 222, 222);
}
.table > tr.danger:hover > td {
	border-color: rgb(242, 222, 222); background-color: rgb(242, 222, 222);
}
.table > tbody > tr.danger:hover > td {
	border-color: rgb(242, 222, 222); background-color: rgb(242, 222, 222);
}
.td-img {
	width: 42px; height: 42px; position: relative;
}
.td-img img {
	left: 0px; top: 0px; width: 42px; height: 42px; position: absolute;
}
.td-img img:hover {
	width: 120px; height: 120px; z-index: 2;
}
.td-row-1 {
	height: 37px;
}
.td-row-1 td {
	height: 37px;
}
.td-row-2 {
	height: 43px;
}
.td-row-2 td {
	height: 43px;
}
.td-row-3 {
	height: 57px;
}
.td-row-3 td {
	height: 57px;
}
.page {
	
}
.page .form-control {
	border-color: rgb(216, 227, 230); color: rgb(127, 148, 153); margin-right: 5px; float: left;
}
.page ul {
	border-color: rgb(216, 227, 230); color: rgb(127, 148, 153); margin-right: 5px; float: left;
}
.page li {
	border-color: rgb(216, 227, 230); color: rgb(127, 148, 153); margin-right: 5px; float: left;
}
.page li a {
	padding: 0px 8px; border-radius: 3px; border: 1px solid rgb(216, 227, 230); border-image: none; height: 24px; color: rgb(127, 148, 153); line-height: 24px; display: block;
}
.page li a i {
	line-height: 24px;
}
.page li.active a {
	background: rgb(99, 137, 147); border-color: rgb(99, 137, 147); color: rgb(255, 255, 255);
}
.page li a:hover {
	background: rgb(99, 137, 147); border-color: rgb(99, 137, 147); color: rgb(255, 255, 255);
}
.form-control {
	padding: 5px 6px; border-radius: 3px; border: 1px solid rgb(175, 184, 186); transition:border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; border-image: none; height: 25px; min-width: 50px; box-sizing: border-box; box-shadow: inset 0px 1px 2px rgba(0,0,0,0.15); background-color: rgb(255, 255, 255); -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control:focus {
	background: rgb(242, 254, 255); border-color: rgb(16, 121, 131); outline: 0px; color: rgb(16, 121, 131); box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.6); -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
}
select.form-control {
	padding: 3px 6px;
}
textarea.form-control {
	height: auto;
}
.small {
	width: 40%;
}
.medium {
	width: 60%;
}
.large {
	width: 90%;
}
.auto {
	width: 100%;
}
.input-icon {
	display: inline-block; position: relative;
}
.input-icon i {
	top: 6px; right: 8px; color: rgb(159, 169, 172); position: absolute;
}
.input-icon input {
	width: 100%; text-indent: 10px; padding-right: 0px; padding-left: 0px;
}
.input-icon.auto input {
	width: 99%;
}
.input-icon.auto input.auto {
	width: 99%;
}
label input[type='checkbox'] {
	vertical-align: top;
}
.form-control.disabled {
	background: rgb(245, 245, 245); border-color: rgb(204, 204, 204); color: rgb(102, 102, 102); cursor: not-allowed;
}
[disabled].form-control {
	background: rgb(245, 245, 245); border-color: rgb(204, 204, 204); color: rgb(102, 102, 102); cursor: not-allowed;
}
[readonly].form-control {
	background: rgb(245, 245, 245); border-color: rgb(204, 204, 204); color: rgb(102, 102, 102); cursor: not-allowed;
}
fieldset[disabled] .form-control {
	background: rgb(245, 245, 245); border-color: rgb(204, 204, 204); color: rgb(102, 102, 102); cursor: not-allowed;
}
.form-control-xs {
	height: 21px;
}
.slide-check {
	vertical-align: middle; display: inline-block; position: relative; -moz-user-select: none; -webkit-user-select: none; user-select: none;
}
.slide-check input[type=checkbox] {
	display: none;
}
.slide-check .sidebox {
	border-radius: 30px; border: 1px solid rgb(208, 217, 217); border-image: none; width: 50px; height: 30px; display: block; box-sizing: border-box; background-color: rgb(255, 255, 255);
}
.slide-check label {
	border-radius: 15px; border: 1px solid rgb(208, 217, 217); border-image: none; left: 0px; top: 0px; width: 28px; height: 28px; position: absolute; cursor: pointer; box-shadow: 0px 2px 3px rgba(0,0,0,0.35); background-color: rgb(255, 255, 255);
}
.slide-check input[type=checkbox]:checked ~ label {
	border-color: rgb(51, 171, 133); left: 21px;
}
.slide-check input[type=checkbox]:disabled:checked ~ label:hover {
	border-color: rgb(51, 171, 133); left: 21px;
}
.slide-check input[type=checkbox] ~ label:hover {
	width: 35px;
}
.slide-check input[type=checkbox]:checked ~ label:hover {
	left: 14px;
}
.slide-check input[type=checkbox]:checked + .sidebox {
	border-width: 15px 15px 15px 30px; border-color: rgb(51, 171, 133);
}
.slide-check input[type=checkbox]:disabled ~ .sidebox {
	opacity: 0.6;
}
.slide-check input[type=checkbox]:disabled ~ label {
	cursor: not-allowed; opacity: 0.6; box-shadow: 0px 2px 3px rgba(0,0,0,0.15);
}
.slide-check input[type=checkbox]:disabled ~ label:hover {
	width: 28px;
}
.slide-check-xs .sidebox {
	border-radius: 22px; width: 40px; height: 22px;
}
.slide-check-xs label {
	width: 20px; height: 20px;
}
.slide-check-xs input[type=checkbox]:checked ~ label {
	left: 19px;
}
.slide-check-xs input[type=checkbox]:disabled:checked ~ label:hover {
	left: 19px;
}
.slide-check-xs input[type=checkbox]:checked + .sidebox {
	border-width: 10px 10px 10px 30px;
}
.slide-check-xs input[type=checkbox] ~ label:hover {
	width: 25px;
}
.slide-check-xs input[type=checkbox]:checked ~ label:hover {
	left: 14px;
}
.slide-check-xs input[type=checkbox]:disabled ~ label:hover {
	width: 20px;
}
.popover {
	background: rgb(255, 255, 255); padding: 1px; border-radius: 5px; border: 1px solid rgb(201, 211, 214); border-image: none; left: 0px; top: 0px; width: 220px; position: absolute; z-index: 10; box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.popover.top {
	margin-top: -10px;
}
.popover.right {
	margin-left: 10px;
}
.popover.bottom {
	margin-top: 10px;
}
.popover.left {
	margin-left: -10px;
}
.popover-title {
	background: rgb(243, 243, 243); padding: 6px 10px; border-bottom-color: rgb(201, 211, 214); border-bottom-width: 1px; border-bottom-style: solid;
}
.popover > .arrow {
	border-style: solid; border-color: transparent; width: 0px; height: 0px; display: block; position: absolute;
}
.popover > .arrow::after {
	border-style: solid; border-color: transparent; width: 0px; height: 0px; display: block; position: absolute;
}
.popover > .arrow {
	border-width: 11px;
}
.popover > .arrow::after {
	border-width: 10px; content: "";
}
.popover.top > .arrow {
	left: 50%; bottom: -11px; margin-left: -11px; border-top-color: rgba(0, 0, 0, 0.25); border-bottom-width: 0px;
}
.popover.top > .arrow::after {
	bottom: 1px; margin-left: -10px; border-top-color: rgb(255, 255, 255); border-bottom-width: 0px; content: " ";
}
.popover.right > .arrow {
	left: -11px; top: 50%; margin-top: -11px; border-right-color: rgba(0, 0, 0, 0.25); border-left-width: 0px;
}
.popover.right > .arrow::after {
	left: 1px; bottom: -10px; border-right-color: rgb(255, 255, 255); border-left-width: 0px; content: " ";
}
.popover.bottom > .arrow {
	left: 50%; top: -11px; margin-left: -11px; border-bottom-color: rgba(0, 0, 0, 0.25); border-top-width: 0px;
}
.popover.bottom > .arrow::after {
	top: 1px; margin-left: -10px; border-bottom-color: rgb(255, 255, 255); border-top-width: 0px; content: " ";
}
.popover.left > .arrow {
	top: 50%; right: -11px; margin-top: -11px; border-left-color: rgba(0, 0, 0, 0.25); border-right-width: 0px;
}
.popover.left > .arrow::after {
	right: 1px; bottom: -10px; border-left-color: rgb(255, 255, 255); border-right-width: 0px; content: " ";
}
.none {
	display: none !important;
}
.hidden {
	display: none !important;
}
.title {
	margin: 12px 0px 20px; font-family: "Lucida Grande",Helvetica,"Heiti SC","microsoft yahei",Arial,Verdana,sans-serif; font-size: 1.5em; font-weight: normal;
}
.title .pull-right {
	margin-top: -7px;
}
.title.b-b {
	padding-bottom: 8px;
}
.page-title {
	margin: 22px 0px 20px; color: rgb(103, 130, 137); padding-bottom: 10px; font-size: 14px; font-weight: normal; border-bottom-color: rgb(201, 211, 214); border-bottom-width: 1px; border-bottom-style: solid;
}
.page-title.b-n {
	margin-bottom: 10px;
}
.page-title .btn.pull-right {
	margin-top: -13px;
}
.page-title .btn-sm.pull-right {
	margin-top: -8px;
}
.page-title .btn.btn-xs.pull-right {
	margin-top: -4px;
}
.content > :first-child.page-title {
	margin-top: 14px;
}
.info .page-title {
	border-color: rgb(193, 208, 212);
}
.info hr {
	border-color: rgb(193, 208, 212);
}
p {
	margin-bottom: 10px;
}
.nowrap {
	white-space: nowrap;
}
.middle {
	vertical-align: middle;
}
.bottom {
	vertical-align: bottom !important;
}
.inline {
	display: inline-block;
}
.pd-v {
	padding-top: 10px; padding-bottom: 10px;
}
.pd-h {
	padding-right: 10px; padding-left: 10px;
}
.pd-n {
	padding: 0px !important;
}
.m {
	margin: 10px;
}
.m-n {
	margin: 0px;
}
.m-t-n {
	margin-top: 0px;
}
.m-r-n {
	margin-right: 0px;
}
.m-b-n {
	margin-bottom: 0px;
}
.m-l-n {
	margin-left: 0px;
}
.m-t-xs {
	margin-top: 5px;
}
.m-r-xs {
	margin-right: 5px;
}
.m-b-xs {
	margin-bottom: 5px;
}
.m-l-xs {
	margin-left: 5px;
}
.m-t {
	margin-top: 10px;
}
.m-r {
	margin-right: 10px;
}
.m-b {
	margin-bottom: 10px;
}
.m-l {
	margin-left: 10px;
}
.m-t-lg {
	margin-top: 17px;
}
.m-r-lg {
	margin-right: 17px;
}
.m-b-lg {
	margin-bottom: 17px;
}
.m-l-lg {
	margin-left: 17px;
}
.m-t-xxl {
	margin-top: 25px;
}
.m-r-xxl {
	margin-right: 25px;
}
.m-b-xxl {
	margin-bottom: 25px;
}
.m-l-xxl {
	margin-left: 25px;
}
.w1 {
	width: 1px;
}
.w1font {
	width: 22px;
}
.w2font {
	width: 34px;
}
.w20p {
	width: 20%;
}
.w30p {
	width: 30%;
}
hr {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(225, 230, 231) currentColor currentColor; border-image: none; height: 0px; margin-top: 20px; margin-bottom: 20px; box-sizing: content-box; -moz-box-sizing: content-box;
}
.sr-only {
	margin: -1px; padding: 0px; border: 0px currentColor; border-image: none; width: 1px; height: 1px; overflow: hidden; position: absolute; clip: rect(0px, 0px, 0px, 0px);
}
.sr-only-focusable:active {
	margin: 0px; width: auto; height: auto; overflow: visible; position: static; clip: auto;
}
.sr-only-focusable:focus {
	margin: 0px; width: auto; height: auto; overflow: visible; position: static; clip: auto;
}
.b-t {
	border-top-color: rgb(201, 211, 214); border-top-width: 1px; border-top-style: solid;
}
.b-r {
	border-right-color: rgb(201, 211, 214); border-right-width: 1px; border-right-style: solid;
}
.b-b {
	border-bottom-color: rgb(201, 211, 214); border-bottom-width: 1px; border-bottom-style: solid;
}
.b-l {
	border-left-color: rgb(201, 211, 214); border-left-width: 1px; border-left-style: solid;
}
.b-n {
	border: 0px currentColor !important; border-image: none !important;
}
tr.b-n td {
	border: 0px currentColor !important; border-image: none !important;
}
.bg-n {
	background-color: transparent;
}
.bg-none {
	background-color: transparent;
}
h2 {
	font-size: 18px; font-weight: bold;
}
.h2 {
	font-size: 18px; font-weight: bold;
}
h3 {
	font-size: 14px; font-weight: bold;
}
.h3 {
	font-size: 14px; font-weight: bold;
}
h4 {
	font-size: 12px; font-weight: bold;
}
.h4 {
	font-size: 12px; font-weight: bold;
}
h5 {
	font-size: 12px;
}
.h5 {
	font-size: 12px;
}
h6 {
	font-size: 12px;
}
.h6 {
	font-size: 12px;
}
small {
	color: rgb(153, 153, 153); font-size: 12px;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
.text-gray {
	color: rgb(153, 153, 153);
}
.text-darkslategray {
	color: rgb(77, 144, 153);
}
.text-primary {
	color: rgb(32, 98, 167);
}
.text-success {
	color: rgb(32, 165, 42);
}
.text-warning {
	color: rgb(217, 142, 54);
}
.text-danger {
	color: rgb(166, 82, 71);
}
.text-info {
	color: rgb(78, 200, 218);
}
.radius {
	border-radius: 5px;
}
.circle {
	border-radius: 50%;
}
.bg-white {
	background-color: rgb(255, 255, 255);
}
.bg-gray {
	background-color: rgb(243, 243, 243);
}
.bg-side {
	background-color: rgb(216, 227, 230);
}
.bg-primary {
	color: rgb(255, 255, 255); background-color: rgb(32, 98, 167);
}
.bg-success {
	color: rgb(255, 255, 255); background-color: rgb(8, 119, 105);
}
.bg-warning {
	color: rgb(255, 255, 255); background-color: rgb(217, 142, 54);
}
.bg-danger {
	color: rgb(255, 255, 255); background-color: rgb(166, 82, 71);
}
.bg-info {
	color: rgb(255, 255, 255); background-color: rgb(78, 200, 218);
}
.bg-primary-lighter {
	background-color: rgb(220, 233, 247);
}
.bg-success-lighter {
	background-color: rgb(217, 237, 231);
}
.bg-warning-lighter {
	background-color: rgb(237, 228, 218);
}
.bg-danger-lighter {
	background-color: rgb(237, 220, 218);
}
.bg-info-lighter {
	border-color: rgb(206, 223, 224) !important; background-color: rgb(218, 235, 237);
}
.btn {
	padding: 6px 18px; border-radius: 3px; border: 1px solid transparent; border-image: none; text-align: center; line-height: 1.4285; font-size: 13px; font-weight: normal; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; -ms-user-select: none; -moz-user-select: none; -webkit-user-select: none; user-select: none; -o-user-select: none;
}
.btn:focus {
	outline: rgb(51, 51, 51) dotted thin; outline-offset: -2px;
}
.btn:hover {
	text-decoration: none;
}
.btn:focus {
	text-decoration: none;
}
.btn:active {
	outline: 0px; box-shadow: inset 0px 3px 5px rgba(0,0,0,0.125); background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.active {
	outline: 0px; box-shadow: inset 0px 3px 5px rgba(0,0,0,0.125); background-image: none; -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.disabled {
	cursor: not-allowed; opacity: 0.65; pointer-events: none; box-shadow: none;
}
[disabled].btn {
	cursor: not-allowed; opacity: 0.65; pointer-events: none; box-shadow: none;
}
fieldset[disabled] .btn {
	cursor: not-allowed; opacity: 0.65; pointer-events: none; box-shadow: none;
}
.btn-xs {
	padding: 1px 7px; font-size: 12px;
}
.btn-sm {
	padding: 3px 8px; font-size: 12px;
}
.btn-lg {
	padding: 8px 24px; font-size: 17px;
}
.btn.disabled {
	background: rgb(235, 235, 235); border-color: rgb(186, 186, 186); color: rgb(153, 153, 153); text-shadow: 0px 1px 0px #fff;
}
.btn-default {
	background: rgb(255, 255, 255); border: 1px solid rgb(197, 210, 219); border-image: none; color: rgb(155, 174, 187);
}
.btn-primary {
	background: rgb(40, 121, 178); border: 1px solid rgb(40, 121, 178); border-image: none; color: rgb(255, 255, 255);
}
.btn-success {
	background: rgb(51, 171, 133); border: 1px solid rgb(51, 171, 133); border-image: none; color: rgb(255, 255, 255);
}
.btn-warning {
	background: rgb(217, 142, 54); border: 1px solid rgb(217, 142, 54); border-image: none; color: rgb(255, 255, 255);
}
.btn-danger {
	background: rgb(166, 82, 71); border: 1px solid rgb(166, 82, 71); border-image: none; color: rgb(255, 255, 255);
}
.btn-info {
	background: rgb(34, 159, 179); border: 1px solid rgb(34, 159, 179); border-image: none; color: rgb(255, 255, 255);
}
.btn-link {
	background: none; color: rgb(0, 135, 173); box-shadow: none;
}
.btn-default:hover {
	background: rgb(255, 255, 255); border-color: rgb(175, 184, 186); color: rgb(8, 119, 105);
}
.btn-primary:hover {
	background: rgb(32, 98, 145); border-color: rgb(32, 98, 145); color: rgb(255, 255, 255);
}
.btn-success:hover {
	background: rgb(34, 138, 105); border-color: rgb(34, 138, 105); color: rgb(255, 255, 255);
}
.btn-warning:hover {
	background: rgb(184, 115, 37); border-color: rgb(184, 115, 37); color: rgb(255, 255, 255);
}
.btn-danger:hover {
	background: rgb(133, 60, 50); border-color: rgb(133, 60, 50); color: rgb(255, 255, 255);
}
.btn-info:hover {
	background: rgb(20, 129, 145); border-color: rgb(20, 129, 145); color: rgb(255, 255, 255);
}
.btn-link:hover {
	color: rgb(8, 119, 105); text-decoration: underline;
}
.btn-up-down {
	width: 20px; display: inline-block;
}
.btn-up-down .btn-xs {
	padding: 0px 4px; height: 13px; overflow: hidden; font-size: 12px; float: left;
}
.btn-up-down :first-child.btn-xs {
	border-radius: 3px 3px 0px 0px;
}
.btn-up-down :last-child.btn-xs {
	border-radius: 0px 0px 3px 3px; margin-top: -1px;
}
.drop-menu {
	z-index: 100;
}
.td-img img {
	transition:0.2s; -webkit-transition: all .2s ease;
}
.top-menu a {
	transition:0.2s; -webkit-transition: all .2s ease;
}
.left-side {
	transition:0.2s; -webkit-transition: all .2s ease;
}
.left-side .side-content {
	transition:0.2s; -webkit-transition: all .2s ease;
}
.right-side {
	transition:0.2s; -webkit-transition: all .2s ease;
}
.slide-check .sidebox {
	transition:0.2s; -webkit-transition: all .2s ease;
}
.slide-check label {
	transition:0.2s; -webkit-transition: all .2s ease;
}
.fa-info-circle {
	transition:0.2s; -webkit-transition: all .2s ease;
}
.soon {
	transition:0.2s; -webkit-transition: all .2s ease;
}
.links dd a {
	transition:0.2s; -webkit-transition: all .2s ease;
}
.open {
	transition:0.2s; -webkit-transition: all .2s ease;
}
.expand {
	transition:0.2s; -webkit-transition: all .2s ease;
}
#txtpkid {
	display: none;
}
.g_dn {
	display: none;
}
.permissions fieldset {
	border: 0px currentColor; border-image: none;
}
.permissions fieldset ul li {
	margin: 5px; float: left; min-width: 115px;
}
.right-side {
	background: url("../images/ring.svg") no-repeat center; padding-top: 50px; margin-left: 180px; fill: red;
}
.box-main {
	background: rgb(231, 239, 244); margin: 0px auto; padding: 10px 20px 0px; color: rgb(81, 129, 147); font-size: 15px; max-width: 1280px;
}
.box-main h1 {
	margin: 1em 0px;
}
.box-main h2 {
	margin: 1em 0px;
}
.box-main h3 {
	margin: 1em 0px;
}
.box-main h1 {
	font-size: 36px;
}
.box-main h3 {
	font-size: 18px;
}
.box-main .green {
	color: rgb(58, 192, 148);
}
.box-main .pink {
	color: rgb(192, 58, 140);
}
.box-main .bd-share {
	margin: 0px 0px 40px; text-align: center;
}
.share {
	text-align: center; text-indent: -8px; font-size: 16px; display: inline-block; min-width: 210px;
}
.bdshare-button-style0-24 a {
	border-radius: 50%; margin-right: 10px !important;
}
.bds_qzone {
	box-shadow: inset 0px 0px 0px 1px #39b1f3;
}
.bds_tsina {
	box-shadow: inset 0px 0px 0px 1px #f03533;
}
.bds_tqq {
	box-shadow: inset 0px 0px 0px 1px #33afdc;
}
.bds_renren {
	box-shadow: inset 0px 0px 0px 1px #136fcd;
}
.bds_douban {
	box-shadow: inset 0px 0px 0px 1px #488a50;
}
.bds_huaban {
	box-shadow: inset 0px 0px 0px 1px #e2304d;
}
.bds_weixin {
	box-shadow: inset 0px 0px 0px 1px #6ec02c;
}
.bds_more {
	width: 16px; text-indent: -9999px; box-shadow: inset 0px 0px 0px 1px #6aadf6;
}
.slogan {
	margin-top: 5px;
}
.slogan ul {
	position: relative !important;
}
.slogan li {
	height: 20px;
}
.box-main hr {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(215, 228, 236) currentColor currentColor; margin: 30px 0px; border-image: none;
}
.box-main .h-widget p {
	font-size: 15px;
}
.box-main .h-widget ul {
	text-align: left; margin-left: 220px;
}
.box-main .h-widget li {
	margin-bottom: 15px; list-style-type: disc;
}
.left-side .side-content {
	left: 0px; width: 100%; height: 100%; overflow: hidden; position: absolute;
}
#test-tooltips {
	position: relative;
}
.left-nav li {
	position: relative;
}
.open {
	padding: 11px 16px 10px; top: 0px; right: 0px; color: rgb(112, 137, 133); position: absolute; z-index: 1; cursor: pointer; opacity: 0.5;
}
.open:hover {
	background-color: rgb(51, 64, 66);
}
.open.fa-rotate-135:hover {
	background: none; opacity: 1;
}
.open:active {
	background: none; opacity: 1;
}
.left-nav > li > ul {
	display: none;
}
.left-nav ul li .fa-info-circle {
	top: 8px; right: -3px; color: rgb(180, 200, 206); font-size: 14px; position: absolute; opacity: 0.5;
}
.left-nav ul li .fa-circle {
	top: 10px; right: -2px; position: absolute;
}
.left-nav ul li .fa-info-circle:hover {
	opacity: 1;
}
.open:hover {
	opacity: 1;
}
.left-nav > li > a:hover {
	background-color: rgb(51, 64, 66);
}
.left-nav a > i:first-child {
	color: rgb(112, 137, 133);
}
.left-nav hr {
	border-color: rgb(61, 74, 77); margin: 20px 0px 10px;
}
.f12 {
	font-size: 12px !important;
}
.f14 {
	font-size: 14px !important;
}
li .label {
	background: rgb(180, 200, 206); margin: 0px 0px 0px 8px; padding: 0px 5px; border-radius: 3px; color: rgb(42, 57, 60); font-size: 12px;
}
.fame-bg#fame {
	background-color: rgb(255, 255, 255);
}
.links .panel-body {
	
}
.links .panel-heading {
	padding: 12px 24px; font-size: 18px;
}
.links dl {
	padding: 10px 0px; border-bottom-color: rgb(248, 248, 248); border-bottom-width: 1px; border-bottom-style: solid;
}
.links dl:first-child {
	padding-top: 0px;
}
.links dl:last-child {
	border: 0px currentColor; border-image: none; padding-bottom: 0px;
}
.links dt.row2 {
	min-height: 150px;
}
.links dt.row3 {
	min-height: 210px;
}
.links dt.row4 {
	min-height: 270px;
}
.links dt a {
	margin: 15px; color: rgb(162, 168, 162); font-size: 16px; display: inline-block; cursor: default;
}
.links dd {
	position: relative;
}
.links dd > a:first-child {
	padding: 15px 15px 13px; border-radius: 5px; overflow: hidden; display: block; min-height: 81px; max-height: 81px;
}
.links dd a > i img {
	margin: 0px 5px 0px 0px; width: 32px; height: 32px; vertical-align: middle;
}
.links dd a:hover {
	background: rgb(237, 245, 250);
}
.link-logo {
	margin: 0px 5px 10px 0px; float: left; display: none;
}
.link-title {
	top: -2px; overflow: hidden; padding-bottom: 2px; font-size: 16px; white-space: nowrap; position: relative;
}
.link-title {
	display: block;
}
.link-info {
	display: block;
}
.link-info {
	color: rgb(162, 168, 162); font-size: 12px;
}
.links dd .sub-link {
	left: 25px; top: 31px; color: rgb(204, 204, 204); line-height: 1.5em; font-size: 12px; position: absolute;
}
.links dd .sub-link a {
	color: rgb(153, 153, 153); font-size: 12px; text-decoration: underline;
}
.links dd .sub-link a:hover {
	background: none; color: rgb(51, 51, 51);
}
.links .article-list dd a {
	padding: 15px 0px;
}
.links .article-list dd a:hover {
	background: none;
}
.links .article-list .link-title {
	padding: 0px 0px 0px 15px; color: rgb(102, 102, 102); line-height: 1.5em; font-size: 14px; white-space: normal;
}
.links .article-list .link-title::before {
	color: rgb(217, 217, 217); margin-left: -12px; content: "● ";
}
.site-footer {
	padding: 20px 0px 10px;
}
.compatibility {
	font-size: 3em; margin-top: -1px;
}
.foot-share > div {
	border-width: 0px 1px; border-style: solid; border-color: rgb(215, 228, 236); padding: 0px 10px; border-image: none; margin-bottom: 20px;
}
.foot-share > div > p {
	font-family: simsun; font-size: 18px; margin-bottom: 16px;
}
.box-main .foot-share .bd-share {
	margin-bottom: 0px;
}
.copyright {
	margin-top: 60px; opacity: 0.5;
}
.foot-col-3 {
	line-height: 1.8em;
}
.foot-col-3 > div {
	padding: 0px 10px;
}
.foot-col-3 a {
	padding: 0px 10px; display: inline-block;
}
.foot-col-3 span {
	opacity: 0.35;
}
.fa-rotate-135 {
	transform: rotate(135deg); -webkit-transform: rotate(135deg);
}
li.soon {
	cursor: not-allowed; opacity: 0.5;
}
li.soon a:hover {
	background: none; color: rgb(165, 188, 194); opacity: 0;
}
:target + div .panel-heading {
	color: rgb(217, 92, 147); font-size: 18px;
}
#search {
	margin: 56px auto 30px; max-width: 717px;
}
.search-list label {
	padding: 5px 11px; font-size: 13px; display: inline-block; cursor: pointer;
}
.search-list input:checked + label {
	background-color: rgb(255, 255, 255);
}
#search form {
	position: relative;
}
#search-text {
	padding: 12px; border-radius: 3px; border: 0px currentColor; border-image: none; width: 100%; height: 48px; line-height: 48px; font-size: 16px;
}
#search button {
	background: rgb(0, 139, 95); border-radius: 0px 3px 3px; border: 0px currentColor; border-image: none; top: 0px; width: 48px; height: 48px; right: 0px; line-height: 48px; position: absolute;
}
#search button:hover {
	background: rgb(28, 164, 121); cursor: pointer;
}
#search button i {
	color: rgb(255, 255, 255); font-size: 18px;
}
button.close {
	background: 0px 0px; padding: 0px; border: 0px currentColor; border-image: none; cursor: pointer; -webkit-appearance: none;
}
.close {
	color: rgb(0, 0, 0); line-height: 1; font-size: 21px; font-weight: 700; float: right; opacity: 0.2; text-shadow: 0px 1px 0px #fff;
}
.modal-open {
	overflow: hidden;
}
.modal {
	outline: 0px; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; display: none; position: fixed; z-index: 1050; -webkit-overflow-scrolling: touch;
}
.modal.fade .modal-dialog {
	transition:transform 0.3s ease-out; transform: translate3d(0px, -25%, 0px); -webkit-transition: -webkit-transform 0.3s ease-out; -webkit-transform: translate3d(0, -25%, 0); -moz-transition: -moz-transform 0.3s ease-out; -o-transition: -o-transform 0.3s ease-out;
}
.modal.in .modal-dialog {
	transform: translate3d(0px, 0px, 0px); -webkit-transform: translate3d(0, 0, 0);
}
.modal-open .modal {
	-ms-overflow-x: hidden; -ms-overflow-y: auto;
}
.modal-dialog {
	margin: 10px; width: auto; position: relative;
}
.modal-content {
	outline: 0px; border-radius: 6px; border: 1px solid rgba(0, 0, 0, 0.2); border-image: none; position: relative; box-shadow: 0px 3px 9px rgba(0,0,0,0.5); background-clip: padding-box; background-color: rgb(255, 255, 255); -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
	left: 0px; top: 0px; right: 0px; bottom: 0px; position: fixed; z-index: 1040; background-color: rgb(0, 0, 0);
}
.modal-backdrop.fade {
	opacity: 0;
}
.modal-backdrop.in {
	opacity: 0.5;
}
.modal-header {
	padding: 10px; border-bottom-color: rgb(229, 229, 229); border-bottom-width: 1px; border-bottom-style: solid; min-height: 16.42px;
}
.modal-header .close {
	margin-top: -4px;
}
.modal-title {
	margin: 0px; line-height: 1.4285;
}
.modal-body {
	padding: 15px; position: relative;
}
.modal-footer {
	padding: 10px; text-align: right; border-top-color: rgb(229, 229, 229); border-top-width: 1px; border-top-style: solid;
}
.modal-footer .btn + .btn {
	margin-bottom: 0px; margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
	margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
	margin-left: 0px;
}
.modal-scrollbar-measure {
	top: -9999px; width: 50px; height: 50px; overflow: scroll; position: absolute;
}
@media all and (min-width:768px)
{
.modal-dialog {
	margin: 30px auto; width: 600px;
}
.modal-content {
	box-shadow: 0px 5px 15px rgba(0,0,0,0.5); -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal-sm {
	width: 300px;
}
}
@media all and (min-width:992px)
{
.modal-lg {
	width: 900px;
}
}
.row {
	margin-right: -10px; margin-left: -10px;
}
.col-xs-1 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-sm-1 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-md-1 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-lg-1 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-xs-2 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-sm-2 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-md-2 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-lg-2 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-xs-3 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-sm-3 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-md-3 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-lg-3 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-xs-4 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-sm-4 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-md-4 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-lg-4 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-xs-5 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-sm-5 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-md-5 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-lg-5 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-xs-6 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-sm-6 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-md-6 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-lg-6 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-xs-7 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-sm-7 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-md-7 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-lg-7 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-xs-8 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-sm-8 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-md-8 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-lg-8 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-xs-9 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-sm-9 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-md-9 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-lg-9 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-xs-10 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-sm-10 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-md-10 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-lg-10 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-xs-11 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-sm-11 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-md-11 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-lg-11 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-xs-12 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-sm-12 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-md-12 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-lg-12 {
	padding-right: 10px; padding-left: 10px; position: relative; min-height: 1px;
}
.col-xs-1 {
	float: left;
}
.col-xs-2 {
	float: left;
}
.col-xs-3 {
	float: left;
}
.col-xs-4 {
	float: left;
}
.col-xs-5 {
	float: left;
}
.col-xs-6 {
	float: left;
}
.col-xs-7 {
	float: left;
}
.col-xs-8 {
	float: left;
}
.col-xs-9 {
	float: left;
}
.col-xs-10 {
	float: left;
}
.col-xs-11 {
	float: left;
}
.col-xs-12 {
	float: left;
}
.col-xs-12 {
	width: 100%;
}
.col-xs-11 {
	width: 91.66%;
}
.col-xs-10 {
	width: 83.33%;
}
.col-xs-9 {
	width: 75%;
}
.col-xs-8 {
	width: 66.66%;
}
.col-xs-7 {
	width: 58.33%;
}
.col-xs-6 {
	width: 50%;
}
.col-xs-5 {
	width: 41.66%;
}
.col-xs-4 {
	width: 33.33%;
}
.col-xs-3 {
	width: 25%;
}
.col-xs-2 {
	width: 16.66%;
}
.col-xs-1 {
	width: 8.33%;
}
.col-xs-pull-12 {
	right: 100%;
}
.col-xs-pull-11 {
	right: 91.66%;
}
.col-xs-pull-10 {
	right: 83.33%;
}
.col-xs-pull-9 {
	right: 75%;
}
.col-xs-pull-8 {
	right: 66.66%;
}
.col-xs-pull-7 {
	right: 58.33%;
}
.col-xs-pull-6 {
	right: 50%;
}
.col-xs-pull-5 {
	right: 41.66%;
}
.col-xs-pull-4 {
	right: 33.33%;
}
.col-xs-pull-3 {
	right: 25%;
}
.col-xs-pull-2 {
	right: 16.66%;
}
.col-xs-pull-1 {
	right: 8.33%;
}
.col-xs-pull-0 {
	right: auto;
}
.col-xs-push-12 {
	left: 100%;
}
.col-xs-push-11 {
	left: 91.66%;
}
.col-xs-push-10 {
	left: 83.33%;
}
.col-xs-push-9 {
	left: 75%;
}
.col-xs-push-8 {
	left: 66.66%;
}
.col-xs-push-7 {
	left: 58.33%;
}
.col-xs-push-6 {
	left: 50%;
}
.col-xs-push-5 {
	left: 41.66%;
}
.col-xs-push-4 {
	left: 33.33%;
}
.col-xs-push-3 {
	left: 25%;
}
.col-xs-push-2 {
	left: 16.66%;
}
.col-xs-push-1 {
	left: 8.33%;
}
.col-xs-push-0 {
	left: auto;
}
.col-xs-offset-12 {
	margin-left: 100%;
}
.col-xs-offset-11 {
	margin-left: 91.66%;
}
.col-xs-offset-10 {
	margin-left: 83.33%;
}
.col-xs-offset-9 {
	margin-left: 75%;
}
.col-xs-offset-8 {
	margin-left: 66.66%;
}
.col-xs-offset-7 {
	margin-left: 58.33%;
}
.col-xs-offset-6 {
	margin-left: 50%;
}
.col-xs-offset-5 {
	margin-left: 41.66%;
}
.col-xs-offset-4 {
	margin-left: 33.33%;
}
.col-xs-offset-3 {
	margin-left: 25%;
}
.col-xs-offset-2 {
	margin-left: 16.66%;
}
.col-xs-offset-1 {
	margin-left: 8.33%;
}
.col-xs-offset-0 {
	margin-left: 0%;
}
@media all and (min-width:768px)
{
.col-sm-1 {
	float: left;
}
.col-sm-2 {
	float: left;
}
.col-sm-3 {
	float: left;
}
.col-sm-4 {
	float: left;
}
.col-sm-5 {
	float: left;
}
.col-sm-6 {
	float: left;
}
.col-sm-7 {
	float: left;
}
.col-sm-8 {
	float: left;
}
.col-sm-9 {
	float: left;
}
.col-sm-10 {
	float: left;
}
.col-sm-11 {
	float: left;
}
.col-sm-12 {
	float: left;
}
.col-sm-12 {
	width: 100%;
}
.col-sm-11 {
	width: 91.66%;
}
.col-sm-10 {
	width: 83.33%;
}
.col-sm-9 {
	width: 75%;
}
.col-sm-8 {
	width: 66.66%;
}
.col-sm-7 {
	width: 58.33%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-5 {
	width: 41.66%;
}
.col-sm-4 {
	width: 33.33%;
}
.col-sm-3 {
	width: 25%;
}
.col-sm-2 {
	width: 16.66%;
}
.col-sm-1 {
	width: 8.33%;
}
.col-sm-pull-12 {
	right: 100%;
}
.col-sm-pull-11 {
	right: 91.66%;
}
.col-sm-pull-10 {
	right: 83.33%;
}
.col-sm-pull-9 {
	right: 75%;
}
.col-sm-pull-8 {
	right: 66.66%;
}
.col-sm-pull-7 {
	right: 58.33%;
}
.col-sm-pull-6 {
	right: 50%;
}
.col-sm-pull-5 {
	right: 41.66%;
}
.col-sm-pull-4 {
	right: 33.33%;
}
.col-sm-pull-3 {
	right: 25%;
}
.col-sm-pull-2 {
	right: 16.66%;
}
.col-sm-pull-1 {
	right: 8.33%;
}
.col-sm-pull-0 {
	right: auto;
}
.col-sm-push-12 {
	left: 100%;
}
.col-sm-push-11 {
	left: 91.66%;
}
.col-sm-push-10 {
	left: 83.33%;
}
.col-sm-push-9 {
	left: 75%;
}
.col-sm-push-8 {
	left: 66.66%;
}
.col-sm-push-7 {
	left: 58.33%;
}
.col-sm-push-6 {
	left: 50%;
}
.col-sm-push-5 {
	left: 41.66%;
}
.col-sm-push-4 {
	left: 33.33%;
}
.col-sm-push-3 {
	left: 25%;
}
.col-sm-push-2 {
	left: 16.66%;
}
.col-sm-push-1 {
	left: 8.33%;
}
.col-sm-push-0 {
	left: auto;
}
.col-sm-offset-12 {
	margin-left: 100%;
}
.col-sm-offset-11 {
	margin-left: 91.66%;
}
.col-sm-offset-10 {
	margin-left: 83.33%;
}
.col-sm-offset-9 {
	margin-left: 75%;
}
.col-sm-offset-8 {
	margin-left: 66.66%;
}
.col-sm-offset-7 {
	margin-left: 58.33%;
}
.col-sm-offset-6 {
	margin-left: 50%;
}
.col-sm-offset-5 {
	margin-left: 41.66%;
}
.col-sm-offset-4 {
	margin-left: 33.33%;
}
.col-sm-offset-3 {
	margin-left: 25%;
}
.col-sm-offset-2 {
	margin-left: 16.66%;
}
.col-sm-offset-1 {
	margin-left: 8.33%;
}
.col-sm-offset-0 {
	margin-left: 0%;
}
}
@media all and (min-width:992px)
{
.col-md-1 {
	float: left;
}
.col-md-2 {
	float: left;
}
.col-md-3 {
	float: left;
}
.col-md-4 {
	float: left;
}
.col-md-5 {
	float: left;
}
.col-md-6 {
	float: left;
}
.col-md-7 {
	float: left;
}
.col-md-8 {
	float: left;
}
.col-md-9 {
	float: left;
}
.col-md-10 {
	float: left;
}
.col-md-11 {
	float: left;
}
.col-md-12 {
	float: left;
}
.col-md-12 {
	width: 100%;
}
.col-md-11 {
	width: 91.66%;
}
.col-md-10 {
	width: 83.33%;
}
.col-md-9 {
	width: 75%;
}
.col-md-8 {
	width: 66.66%;
}
.col-md-7 {
	width: 58.33%;
}
.col-md-6 {
	width: 50%;
}
.col-md-5 {
	width: 41.66%;
}
.col-md-4 {
	width: 33.33%;
}
.col-md-3 {
	width: 25%;
}
.col-md-2 {
	width: 16.66%;
}
.col-md-1 {
	width: 8.33%;
}
.col-md-pull-12 {
	right: 100%;
}
.col-md-pull-11 {
	right: 91.66%;
}
.col-md-pull-10 {
	right: 83.33%;
}
.col-md-pull-9 {
	right: 75%;
}
.col-md-pull-8 {
	right: 66.66%;
}
.col-md-pull-7 {
	right: 58.33%;
}
.col-md-pull-6 {
	right: 50%;
}
.col-md-pull-5 {
	right: 41.66%;
}
.col-md-pull-4 {
	right: 33.33%;
}
.col-md-pull-3 {
	right: 25%;
}
.col-md-pull-2 {
	right: 16.66%;
}
.col-md-pull-1 {
	right: 8.33%;
}
.col-md-pull-0 {
	right: auto;
}
.col-md-push-12 {
	left: 100%;
}
.col-md-push-11 {
	left: 91.66%;
}
.col-md-push-10 {
	left: 83.33%;
}
.col-md-push-9 {
	left: 75%;
}
.col-md-push-8 {
	left: 66.66%;
}
.col-md-push-7 {
	left: 58.33%;
}
.col-md-push-6 {
	left: 50%;
}
.col-md-push-5 {
	left: 41.66%;
}
.col-md-push-4 {
	left: 33.33%;
}
.col-md-push-3 {
	left: 25%;
}
.col-md-push-2 {
	left: 16.66%;
}
.col-md-push-1 {
	left: 8.33%;
}
.col-md-push-0 {
	left: auto;
}
.col-md-offset-12 {
	margin-left: 100%;
}
.col-md-offset-11 {
	margin-left: 91.66%;
}
.col-md-offset-10 {
	margin-left: 83.33%;
}
.col-md-offset-9 {
	margin-left: 75%;
}
.col-md-offset-8 {
	margin-left: 66.66%;
}
.col-md-offset-7 {
	margin-left: 58.33%;
}
.col-md-offset-6 {
	margin-left: 50%;
}
.col-md-offset-5 {
	margin-left: 41.66%;
}
.col-md-offset-4 {
	margin-left: 33.33%;
}
.col-md-offset-3 {
	margin-left: 25%;
}
.col-md-offset-2 {
	margin-left: 16.66%;
}
.col-md-offset-1 {
	margin-left: 8.33%;
}
.col-md-offset-0 {
	margin-left: 0%;
}
}
@media all and (min-width:1200px)
{
.col-lg-1 {
	float: left;
}
.col-lg-2 {
	float: left;
}
.col-lg-3 {
	float: left;
}
.col-lg-4 {
	float: left;
}
.col-lg-5 {
	float: left;
}
.col-lg-6 {
	float: left;
}
.col-lg-7 {
	float: left;
}
.col-lg-8 {
	float: left;
}
.col-lg-9 {
	float: left;
}
.col-lg-10 {
	float: left;
}
.col-lg-11 {
	float: left;
}
.col-lg-12 {
	float: left;
}
.col-lg-12 {
	width: 100%;
}
.col-lg-11 {
	width: 91.66%;
}
.col-lg-10 {
	width: 83.33%;
}
.col-lg-9 {
	width: 75%;
}
.col-lg-8 {
	width: 66.66%;
}
.col-lg-7 {
	width: 58.33%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-5 {
	width: 41.66%;
}
.col-lg-4 {
	width: 33.33%;
}
.col-lg-3 {
	width: 25%;
}
.col-lg-2 {
	width: 16.66%;
}
.col-lg-1 {
	width: 8.33%;
}
.col-lg-pull-12 {
	right: 100%;
}
.col-lg-pull-11 {
	right: 91.66%;
}
.col-lg-pull-10 {
	right: 83.33%;
}
.col-lg-pull-9 {
	right: 75%;
}
.col-lg-pull-8 {
	right: 66.66%;
}
.col-lg-pull-7 {
	right: 58.33%;
}
.col-lg-pull-6 {
	right: 50%;
}
.col-lg-pull-5 {
	right: 41.66%;
}
.col-lg-pull-4 {
	right: 33.33%;
}
.col-lg-pull-3 {
	right: 25%;
}
.col-lg-pull-2 {
	right: 16.66%;
}
.col-lg-pull-1 {
	right: 8.33%;
}
.col-lg-pull-0 {
	right: auto;
}
.col-lg-push-12 {
	left: 100%;
}
.col-lg-push-11 {
	left: 91.66%;
}
.col-lg-push-10 {
	left: 83.33%;
}
.col-lg-push-9 {
	left: 75%;
}
.col-lg-push-8 {
	left: 66.66%;
}
.col-lg-push-7 {
	left: 58.33%;
}
.col-lg-push-6 {
	left: 50%;
}
.col-lg-push-5 {
	left: 41.66%;
}
.col-lg-push-4 {
	left: 33.33%;
}
.col-lg-push-3 {
	left: 25%;
}
.col-lg-push-2 {
	left: 16.66%;
}
.col-lg-push-1 {
	left: 8.33%;
}
.col-lg-push-0 {
	left: auto;
}
.col-lg-offset-12 {
	margin-left: 100%;
}
.col-lg-offset-11 {
	margin-left: 91.66%;
}
.col-lg-offset-10 {
	margin-left: 83.33%;
}
.col-lg-offset-9 {
	margin-left: 75%;
}
.col-lg-offset-8 {
	margin-left: 66.66%;
}
.col-lg-offset-7 {
	margin-left: 58.33%;
}
.col-lg-offset-6 {
	margin-left: 50%;
}
.col-lg-offset-5 {
	margin-left: 41.66%;
}
.col-lg-offset-4 {
	margin-left: 33.33%;
}
.col-lg-offset-3 {
	margin-left: 25%;
}
.col-lg-offset-2 {
	margin-left: 16.66%;
}
.col-lg-offset-1 {
	margin-left: 8.33%;
}
.col-lg-offset-0 {
	margin-left: 0%;
}
}
@media screen and (max-width:767px)
{
.mobile .logo {
	width: 21px; overflow: hidden;
}
.mobile .expand {
	left: 52px; top: 15px;
}
.mobile .top-menu {
	left: 101px;
}
.main {
	position: relative;
}
.left-side {
	display: block;
}
.right-side {
	display: block;
}
.left-side {
	z-index: 1111;
}
.mobile .left-side {
	width: 0px;
}
.mobile.hide-side .left-side {
	width: 180px;
}
.mobile.hide-side .left-side .side-content {
	left: 0px;
}
.mobile .right-side {
	margin-left: 0px;
}
.mobile.hide-side .right-side {
	margin-left: 0px;
}
.site-footer .row > div:first-child {
	margin-bottom: 40px;
}
.foot-share > div {
	border: 0px currentColor; border-image: none;
}
.foot-share > div > p {
	margin-bottom: 8px;
}
#search {
	margin: 25px auto 15px;
}
.search-list {
	height: 30px; white-space: nowrap; -ms-overflow-x: scroll; -ms-overflow-y: hidden;
}
.search-list label {
	padding: 8px 12px 7px;
}
.mobile .box-main .bd-share {
	margin-bottom: 15px;
}
.mobile .box-main .share {
	font-size: 14px;
}
.bdshare-button-style0-24 a {
	border-radius: 50%;
}
.mobile .bds_tqq {
	display: none;
}
.slogan span {
	display: none;
}
.links.panel {
	margin: 0px -20px; border-radius: 0px;
}
.links .panel-heading {
	padding-left: 10px;
}
.mobile .links dd > a:first-child {
	padding: 0px;
}
.mobile .link-title {
	line-height: 1.5em; font-size: 14px;
}
.mobile .link-info {
	font-size: 12px; margin-top: -5px;
}
.links dd .sub-link {
	left: 10px; top: 17px;
}
}
a {
	color: rgb(0, 173, 53);
}
a:hover {
	color: rgb(0, 101, 169);
}
.links dd a:hover .link-title {
	color: rgb(0, 101, 169);
}
.links dd a:hover .link-info {
	color: rgb(0, 101, 169);
}
